SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO

-- Create Table [dbo].[UpgradeInfo]
Print 'Create Table [dbo].[UpgradeInfo]'
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UpgradeInfo] (
		[Item]       [nvarchar](260) NOT NULL,
		[Status]     [nvarchar](512) NULL,
		CONSTRAINT [PK_UpgradeInfo]
		PRIMARY KEY
		CLUSTERED
		([Item])
	ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UpgradeInfo] SET (LOCK_ESCALATION = TABLE)
GO

